.list_header {
    height: 60px;
    line-height: 64px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: #ffffff;
    color: #FFFFFf;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    text-decoration: none;
}

.list_job {
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 1.5%;
    letter-spacing: -0.04em;
}

.outer_box {
    background: #fff;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    word-break: break-word;
}

.outer_box label {
    color: #84b80e;
    display: block;
    font-weight: 600;
    font-size: 18px
}

.select_style {
    font-weight: 400;
    width: 100%;
    margin: 5px 0px;
    /* margin-top: 5px; */
    font-size: 1.8rem;
    padding: 0.7rem;
    height: auto;
    border: 1px solid #e5e5e5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-filed {
    width: 49%;
    padding: 15px 0px;
}

@media only screen and (max-width: 768px) {
    .form-filed {
        width: 100%;
        padding: 10px 0px;
    }
}

.register_btn {
    background-color: #90d600;
    border-color: #90d600;
    font-size: 20px;
}

.outer_box {
    background: #fff;
    padding: 20px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    word-break: break-word;
}

.outer_box label {
    color: #84b80e;
    display: block;
    font-weight: 600;
    font-size: 18px
}