<div class="list_header col-md-12">
    <div>
        <span class="" style="  color: #90d600; font-size: 21px;font-weight: initial;">Beayou.in</span>
    </div>
</div>
<div class="col-md-12 text-center">
    <h1 class="txt-center list_job">List an Training - free</h1>
    <p class="txt-center mb3">It's free to list your training or job. We're not an agency and we don't charge a commission.</p>
</div>
<div class="col-md-6 col-md-offset-3 col-xs-12 outer_box">
    <label>What would you like to list?</label>
    <select class="select_style">
      <option selected="selected" value="">Choose a category...</option>
      <option value="0010-">Actors wanted</option>
      <option value="0131-">Extras wanted</option>
      <option value="0008-">Models wanted</option>
      <option value="0012-">Musicians wanted</option>
      <option value="0080-">Photographers wanted</option>
      <option value="0001-">TV &amp; Reality</option>
      <option value="0007-">Dancers wanted</option>
      <option value="0058-">Film &amp; Stage Crew wanted</option>
      <option value="0107-">Hair, Makeup &amp; Stylists wanted</option>
      <option value="0130-">Staff/Temps</option>
  </select>
    <select class="select_style">
      <option value="" selected="">Choose a sub category...</option>
      <option value="0010-0032-">Agency Scouts</option>
      <option value="0010-0083-">Entertainers</option>
      <option value="0010-0034-">Events &amp; Promotions</option>
      <option value="0010-0035-">Feature Films</option>
      <option value="0010-0039-">Music videos</option>
      <option value="0010-0056-">Presenters</option>
      <option value="0010-0038-">Short Films</option>
      <option value="0010-0040-">Theatre &amp; Musicals</option>
      <option value="0010-0105-">TV commercials</option>
      <option value="0010-0104-">TV Series</option>
      <option value="0010-0041-">Voiceover &amp; Radio</option>
      <option value="0010-0106-">Web</option>
      <option value="0010-0042-">Other</option>
  </select>
</div>