<div class="list_header col-md-12">
    <span class="col-md-1" style="float:left" (click)="back()"><i  style="color:black; font-size:1.5em;" class="fa fa-arrow-left" aria-hidden="true"></i></span>
    <span class="col-md-11">
     
      <span class="" style="  color: #90d600; font-size: 21px;font-weight: initial;">Beayou.in</span>
    </span>
</div>
<div class="col-md-12" style="padding-top:5%">
    <div class="col-md-6 col-md-offset-3 inner">
        <div class="col-md-12">
            <label>{{details.institute_name}}</label>
        </div>
        <div class="col-md-12">
            {{details.other_details}}

        </div>
        <div class="about_trainer">

        </div>
        <div class="col-md-12" style="padding-top:5%">
            <button type="submit" (click)="apply()" class="col-md-4 col-md-offset-4 btn btn-primary register_btn">Apply</button>
        </div>
    </div>

</div>