.list_header {
    height: 60px;
    line-height: 64px;
    border-bottom: 1px solid #eee;
    font-size: 16px;
    background-color: #ffffff;
    color: #FFFFFf;
    text-align: center;
    white-space: nowrap;
    font-weight: 700;
    text-decoration: none;
}

.list_job {
    font-weight: 700;
    line-height: 1.1em;
    margin-bottom: 1.5%;
    letter-spacing: -0.04em;
}

.login_name {
    padding: 20px;
}

.register_btn {
    background-color: #90d600;
    border-color: #90d600;
    font-size: 20px;
}

.register_btn:hover {
    background-color: #90d600;
    border-color: #90d600;
    font-size: 20px;
}

.error {
    color: red;
    text-align: center;
}

.error_color {
    color: red;
    font-size: 11px;
}