<div class="list_header col-md-12">
    <span class="col-md-1" style="float:left" (click)="back()"><i  style="color:black; font-size:1.5em;" class="fa fa-arrow-left" aria-hidden="true"></i></span>
    <span class="col-md-11">
     
      <span class="" style="  color: #90d600; font-size: 21px;font-weight: initial;">Beayou.in</span>
    </span>
</div>

<div class="col-md-12">
    <div class="col-md-4">
        <iframe id="video" width="420" height="315" [src]="video_url" frameborder="0" allowfullscreen></iframe>
    </div>

</div>