<app-yoo-header></app-yoo-header>

<div class="container-fluid background_image">
    <!--<img src="../../images/background.jpg" >-->
    <!--<img src="../../assets/background.jpg" alt="Ms dhoni" class="img-responsive" />-->
    <!--<div [style.background]="'url(../../assets/background.jpg)'"></div>-->
    <!--<div [style]="getStyle()">
      I am a div that wants to be styled
    </div>-->
    <div class="container">
        <div class="row">
            <div class="col-md-12 logo_img ">
                <h2 class="col-md-12 hidden-xs">A platform for excellence</h2>
                <h3 class="home-hero__title" style="margin-bottom: 0px;"> Wanted: actors, models, musicians, and&nbsp;more.</h3>
                <h3 class="home-hero__subtitle" style="margin-top: 0px;">
                    39,681 roles for all ages, looks, and levels&nbsp;of&nbsp;experience.
                </h3>
                <div style="padding-top: 5%;">
                    <span class="audition_select ">
                      <select  [(ngModel)]="categoryCtrl">
                          <option value="all">All auditions & Jobs</option>
                          <option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</option>
                         
                      </select>
                  </span>
                    <span class="audition_select ">
                      <select  [(ngModel)]="stateCtrl">
                     <option value="all">All States</option>
                      <option  *ngFor="let state of states" [value]="state.code">{{state.name}}</option>
                    
                      </select>
                  </span>
                    <!-- <span class="audition_select ">
                      <select>
                     <option value="">Any Gender</option>
                      <option>Male</option>
                       <option>Female</option>
                      
                      </select>
                  </span> -->
                    <span>
                          <button type="submit" (click)="submit()" class="btn btn-primary register_btn">Search</button>
                      </span>
                </div>
                <div class="home-hero__text">Looking for talent?
                    <span class="icon icon-bullhorn--small"></span>
                    <a class="link--white link--semi-bold" href="/place_listing/">Place a free casting call</a>
                </div>
            </div>

        </div>

    </div>
</div>